* {
  user-select: none;
}

.container {
  text-align: center;
}

.row {
  margin: 0;
}

.btn {
  width: 100%;
}

#serverType {
  position: absolute;
  display: block;
  margin-top: 5px;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 450;
  color: var(--color);
}

#msg {
  color: red; 
  display: block; 
  margin-top: 5px;
}

.btn,
.btn:hover,
.btn:focus {
  background-color: var(--color);
}

.input-field input:focus + label {
  color: var(--color) !important;
}

.input-field input:focus {
  border-bottom: 1px solid var(--color) !important;
  box-shadow: 0 1px 0 0 var(--color) !important;
}

li > span {
  color: var(--color) !important;
}

input {
  margin-bottom: 0 !important;
}

.error-text {
  color: red;  
  font-size: 1rem;
}