* {
	user-select: none;
}

.container {
	text-align: center;
}

.content {
	display: none;
}

.splashScreen {
	margin-top: 25px;
}

.row {
	margin: 0;
}

.btn {
	width: 100%;
}

.modal-title {
	margin-top: 0 !important;
	font-weight: 500;
}

.modal {
	height: 100%;
	width: 90%;
}

.button-row {
	margin-top: 14px;
}

.left-button {
	padding-left: 0 !important;
}

.right-button {
	padding-right: 0 !important;
}

.modal-content {
	text-align: center;
}

#closeModal:hover {
	text-decoration: underline;
}

#msg {
	color: red;
	display: block;
	margin-top: 5px;
}