* {
  user-select: none;
}

.lever {
    margin-bottom: 5px;
}

.switch {
    float: right;
}

.container {
    text-align: center;
}

.title {
    margin-bottom: 15px;
}

span.viewName {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    display: inline-block; 
    width: calc(60%);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: var(--color);
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: var(--color-accent);
}

.switch label .lever:before {
    background-color: var(--color-accent);
}